@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

:root {
  --light-green: #a2e29b;
  --green: #00a2af;
  --purple: #b473bf;
  --pink: #ffb2c1;
  --orange: orange;
}

* {
  box-sizing: border-box;
  font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  background-color: beige;
}
