@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #213547;
    background-color: #ffffff;
}

.wrapper {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
    border-bottom: 0.5rem solid black;
}
header > * {
    margin: 10px;
}
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
/* !ボタンの設定 */
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    /* background-color: #1a1a1a; */
    background-color: #f0ebeb;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
/* !rankとgameを縦並び */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* !rankのcss */
.rank {
    margin-bottom: 3rem;
}

/* !gameのcss */
.game {
    /* height: 150vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid;
}
/* ゲームの主たるcontainer */
.container {
    border: 5px solid rgb(0, 19, 128);
    /* padding: 1rem; */
}
.cards-container {
    /* 子要素をgridレイアウトへ */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    background-color: rgba(40, 111, 1, 1);
}
/* !１つ１つのカード containerの大きさはこれで決まる*/
.card {
    height: 160px;
    width: 130px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* !カードの裏面 */
.back {
    background-image: url("/images/card_back.png"),
        url("/images/illustkun-01477-back-of-cards.png");
    background-size: 80%, 150%;
    background-repeat: no-repeat;
    background-position: center;

    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
}
/* !カードの表面 */
img {
    height: 158px;
    width: 130px;
    border: solid 0.2rem red;
    background-color: white;
    border-radius: 10px;
    object-fit: contain;
}
